<ul id="manually-list" class="va-manually-list">
  {{#students}}
    <li data-orderid="{{orderid}}" class="clearfix">
      <div class="name">{{fullname}}</div>
    </li>
  {{/students}}
</ul>
<div id="manually-hidden"></div>