<div class="card card-body">
  {{#comments}}
    <h3>
      <span class="{{color}} box">{{label}}</span>
      <label class="mobile-submissioncomment">{{text}}</label>
    </h3>
  {{/comments}}
</div>